.hero-history-container .hero-history-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-history {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-history h1,
.hero-history h2,
.hero-history h3,
.hero-history h4,
.hero-history h5,
.hero-history h6,
.hero-history p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-history.no-image * {
  color: var(--text-color);
}

.hero-history picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-history img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-history {
    padding: 40px 32px;
  }
}
